version: 2
updates:
  - package-ecosystem: nuget
    directories:
     - /src/api
     - /src/api.tests
    schedule:
      interval: quarterly
    groups:
      safe-api-dependencies:
        update-types:
          - minor
          - patch
      major-api-dependencies:
        update-types:
          - major
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
  - package-ecosystem: npm
    directory: /src/api/uic-inventory
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - '@ugrc/*'
  - package-ecosystem: npm
    directory: /src/functions
    schedule:
      interval: quarterly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - '@ugrc/*'
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: quarterly
    groups:
      ci-dependencies:
        dependency-type: production
    cooldown:
      default-days: 10
      exclude:
        - agrc/*
  - package-ecosystem: docker
    directory: /src/api
    schedule:
      interval: quarterly
    groups:
      docker-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: deps(docker)
    cooldown:
      default-days: 10
