services:
  api:
    image: uic-inventory/api
    build:
      context: .
      dockerfile: ./src/api/Api.Dockerfile
    volumes:
      - ${HOME}/.aspnet/https:/https/

  db:
    image: postgres:15
    restart: always

  cache:
    image: "redis:7-alpine"

volumes:
  pgdata:
